<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Lucas Lin">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Lucas Lin professional website">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Lucas Lin</title>
</head>
<body onload="addYear()">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="../static/script.js"></script>
    <header>
        <h1 id="webname">Lucas Lin</h1>
        <nav id="myTopnav" class="topnav">
            <a href="index.html">Home</a>
            <a href="cv.html" class="active">CV</a>
            <a href="contact.html">Contact me</a>
            <a href="fun.html">For fun</a>
            <a href="javascript:void(0);" class="icon"><i class="fa fa-bars" onclick="activeNav()"></i></a>
        </nav>
    </header>
    <div>
        <h2>Curriculum Vitae</h2>
        <table>
            <tr><th>Name</th><th>Description</th></tr>
            <tr><td>S.A.I.L Club Summer Camp</td><th><ul>
                <li>Supervised 60+ students to refine their reading and writing skills through daily lesson plans</li>
                <li>Orchestrated activities, including games, storytelling sessions, and songs, to increase student engagement</li>
                <li>Coordinated with 20 other counselors to execute field trips for 60+ students to promote social bonding</li>
                <li>Facilitated leadership meetings to plan for future events and discuss progress toward student learning objectives</li>
            </ul></th></tr>
            <tr><td>Soli Deo Gloria SAT Tutoring</td><th><ul>
                <li>Supervised 20+ students to refine SAT math and english skills through weekly lesson plans</li>
                <li>Proctored full-length practice SAT exams for 20+ students</li>
            </ul></th></tr>
            <tr><td>Students Combat Corona Summer Immersive Program</td><th><ul>
                <li>Crafted and executed a week-long program introducing 20+ middle school students to basic coding concepts</li>
                <li>Facilitated the creation of simple, personalized Python programs by 20+ middle school students</li>
            </ul></th></tr>
            <tr><td>The Treblemakers A Cappella</td><th><ul>
                <li>Managing the organization’s webpage utilizing HTML, CSS, Javascript, and GitHub to announce upcoming events and recent accomplishments</li>
                <li>Overseeing the setup and maintenance of sound equipment as needed for practices</li>
                <li>Collaborating with fellow board members to organize and execute a cappella concerts</li>
            </ul></th></tr>
        </table> 
        <a href = "../static/resume.pdf" target = "_blank">My resume, pdf version</a>
    </div>
    <footer>
        <p id="copyYear">Lucas Lin &copy;</p>
    </footer>
</body>
</html>